<section class="invitation-section <%= css_class %> invitation-section--paper" style="<%= section_style_attr %>">
  <div class="invitation-section__content invitation-intro__layout">
    <div class="invitation-intro__copy">
      <% if content_data&.title %>
        <h2 class="invitation-intro__title"><%= content_data.title %></h2>
      <% end %>
      <p class="invitation-intro__text"><%= content_data&.text %></p>
      <% if content_data&.text_secondary %>
        <p class="invitation-intro__text"><%= content_data.text_secondary %></p>
      <% end %>
    </div>
    <% if asset_url(assets&.intro_photo) %>
      <div class="invitation-intro__photo">
        <img src="<%= asset_url(assets.intro_photo) %>" alt="Elena y Armando">
      </div>
    <% end %>
  </div>
</section>
